<h1><%= t('.title') %></h1>

<table>
  <thead>
  <tr>
  </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to t('admin.routes.new.title'), new_admin_route_path %>